.list_panel{
    display: flex;
    align-items: center;
}
.list_panel a{
    margin-right: 15px;
}
.list_panel a:last-child{
    margin-right: 0;
}
#search, .basket{
    width: 25px;
    margin-right: 15px;
}
.basket{
    display: flex;
    align-items: center;
    position: relative;
}
.basket img{
    margin-right: 15px;
    width: 100%;
}
.count_bask{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    background: #33b5e5;
    height: 15px;
    width: 15px;
    font-size: 10px;
    color: #ffffff!important;
}
@media only screen and (max-width: 650px) {
    .list_panel a{
        display: none;
    }
}
